.contentEditableEditor {
	border: 1px solid blue; !important;
}
.contentEditableToolbar {
	border: 1px solid lightgray; !important;
	border-radius: 3px;
	font-size: 0.1em;
}
.contentEditableToolbar .separator {
	border: 1px solid lightgray; !important;
	display: inline-block;
	height: 24px;
}
.contentEditableToolbar img, .contentEditableToolbar object {
  padding: 3px 3px;
	margin: 0px;
}
.contentEditableToolbar img:hover, .contentEditableToolbar object:hover {
	background-color: rgba(0,0,0,0.2); !important;
}
.contentEditableToolbar input {
  vertical-align: text-bottom;
  margin: 0px 3px;
  display: inline-block;
  position: relative;
  padding: 0px 3px 0px 3px;
  top: -2px;
}
.contentEditableToolbar .dropdownArrow {
  padding-top: 13px;
}
.contentEditableToolbar .buttonActive {
  color: white;
	background-color: rgba(0,0,0,0.4); !important;		  
}
.contentEditableToolbar .buttonActive:hover {
  color: white;
	background-color: darkgray; !important;		  
}
.contentEditableToolbar .dropbtn {
  cursor: pointer;
}
.contentEditableToolbar .dropdown {
  position: relative;
  display: inline-block;
}
.contentEditableToolbar .dropText {
  display: none;
  position: absolute;
	border: 1px solid lightgray; !important;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}
.contentEditableToolbar .dropText a {
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  display: block;
}
.contentEditableToolbar .dropText a:hover {
  background-color: lightgray; !important;
}
.contentEditableToolbar .dropdown:hover .dropText {
  display: block;
}
.contentEditableToolbar .dropdown:hover .dropbtn {
  background-color: lightgray;
}
.contentEditableToolbar input[type=color] {
  display: none;
}
